@model ChangePasswordReqModel
@section UserName {
    @ViewBag.UserName
}

<p><b>@TempData["Result"]</b></p>
<div class="mb-2">
     <form asp-action="ChangePassword" asp-controller="User" method="post" class="p-3 w-25 m-auto">
        <div class="login-wrap">
            <div class="mb-2">
                <input asp-for="Id" type="hidden" value=@Model.Id class="form-control" /><br />
            </div>
            <div class="mb-2">
                <label> Password </label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" /><br />
            </div>
            <div class="mb-2">
                <label> New Password </label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" /><br />
            </div>
            <div class="mb-2">
                <label>Retype New Password </label>
                <span asp-validation-for="RetypeNewPassword" class="text-danger"></span>
                <input asp-for="RetypeNewPassword" type="password" class="form-control" placeholder="Confirm New Password" /><br />
            </div>
            <div class="mb-2">
                <button class="btn btn-primary">Şifre Değiştir</button>
            </div>
        </div>
    </form>

    @section Sepet {
        @if (ViewBag.UserName == " Guest ")
        {
            <li>
                <a asp-controller="User" asp-action="SignIn"><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;SignIn</a>
            </li>
        }

        <li>
            <a asp-controller="Shopping" asp-action="CartPage"><i class="icon-shopping-cart"></i>&nbsp;&nbsp;&nbsp;CardPage</a>
        </li>

        @if (ViewBag.UserName != " Guest ")
        {
            <li>
                <a asp-controller="UserProfile" asp-action="UserProfile"><i class="icon-suitcase"></i>&nbsp;&nbsp;&nbsp;Profile</a>
            </li>
            <li>
                <a asp-controller="User" asp-action="ChangePassword"><i class="icon-cog"></i>&nbsp;&nbsp;&nbsp;ChangePassword</a>
            </li>
            <li>
                <a asp-controller="User" asp-action="LogOut"><i class="icon-key"></i>&nbsp;&nbsp;&nbsp;LogOut</a>
            </li>
        }
    }
